.navbarbox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.navbaritem{
  display: block;
}
ul
{
  display: flex;
  margin-top: 20px;
  list-style-type: none;
}
ul.navbar-menu{
  visibility: visible;
}
ul.navbar-menu>li
{
  margin-right: 40px;
}
ul.navbar-menu>li:first-child
{
  margin-right: 50px;
}
.flex
{
  display: flex;
  justify-content: center;
}
.logo
{
  display: flex;
  width: 100%;
  justify-content: center; 
  align-items: center;
  margin-left: 30px;
}
ul.login-register
{
  padding: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
ul.login-register li:first-child
{
  margin-right: 30px;
}
ul.login-register li
{
  margin-right: 10px;
}
li
{
  cursor: pointer;
}
ul.features-menu
{
  visibility: hidden;
  position: absolute;
  left: 120px;
  display: block;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul.features-menu>li
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 0.8rem;
}
ul.features-menu>li:first-child
{
  
  margin-top: 0px;
  
}
ul.features-menu>li>svg
{
  width: 25%;
}
ul.features-menu>li>a
{
  width: 70%;
}
ul.company-menu
{
  visibility: hidden;
  position: absolute;
  left: 280px;
  display: block;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul.company-menu>li
{
  margin-top: 12px;
  font-size: 0.8rem;
}
ul.company-menu>li:first-child
{
  
  margin-top: 0px;
  
}
a.register{
  border: 1px solid;
  padding: 8px 20px;
  border-radius: 10px;
}
a.dropdown-menu{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.dropdown-menu span{
  margin-right: 10px;
}
.mobile-menu
{
  display: flex;
  height: 100%;
  width: 100px;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.attribution{
  text-align: center;
}
